@mixin text-preset-1 {
  font-size: 72px;
  font-weight: 800;
  line-height: 100%;
}

@mixin text-preset-2 {
  font-size: 56px;
  font-weight: 800;
  line-height: 100%;
}

@mixin text-preset-3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
}

@mixin text-preset-4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
}

@mixin text-preset-5-bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

@mixin text-preset-5-medium {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}

@mixin text-preset-6-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
}

@mixin text-preset-6-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
}
