// ================================== Colors ========================================
$white: #FFFFFF;
$black: #000000;
$navy-950: #303B59;
$navy-200: #CAC9FF;
$navy-50: #ECF2FF;
$blue-800: #1125D6;
$blue-50: #F3F4FD;
$yellow-400: #FFB21E;
$yellow-50: #FFFBF4;
$red-400: #FF5555;
$red-50: #FFF6F6;
$green-500: #00BB8F;
$green-50: #F2FCF9;

// ================================== Gradients ========================================
$gradient-1: linear-gradient(180.00deg, #4d21c9,#2521c900);
$gradient-2: linear-gradient(180.00deg, #7755ff,#2f2ce9);