@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.results-summary-component {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .results-summary-component {
    flex-direction: row;
  }
}
