@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.singular-score-form {
  max-width: 315px;
  border-radius: 12px;
  padding: 17px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .category {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .score {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $navy-200;
    @include text-preset-6-bold;

    &-num {
      color: $navy-950;
      font-weight: bold;
    }
  }

  &.reaction {
    background-color: $red-50;

    .title {
      color: $red-400;
    }
  }

  &.memory {
    background-color: $yellow-50;

    .title {
      color: $yellow-400;
    }
  }

  &.verbal {
    background-color: $green-50;

    .title {
      color: $green-500;
    }
  }

  &.visual {
    background-color: $blue-50;

    .title {
      color: $blue-800;
    }
  }
}
