@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;
@use '/src/sass/modern-normalize.min.scss';
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
	background-color: $blue-50;
	color: $navy-200;
}