@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.summary-card {
  width: 375px;
  padding: 24px 30px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .secondary-title {
    color: $navy-950;
    @include text-preset-5-bold;
  }

  .score-forms {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media (min-width: 768px) {
  .summary-card {
    width: 348px;
    padding: 44px 40px;

    .secondary-title {
      @include text-preset-4;
    }
  }
}

@media (min-width: 1440px) {
  .summary-card {
    width: 368px;
  }
}
